<!doctype html>
<html lang="en" ng-app="monsterBloodApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Monster Blood</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.min.js"></script>

	<script>

		var monsterBloodApp = angular.module('monsterBloodApp', ['LocalStorageModule']);	
		monsterBloodApp.config(function (localStorageServiceProvider) {
		  	localStorageServiceProvider.setPrefix('monster-blood');
		}).controller('MonsterBloodCtrl', function ($scope, localStorageService) {
			$scope.monsters = localStorageService.get('monsters') || [{current:10, max:10, status:0}];
			console.log($scope.monsters);
			$scope.add = true;
			$scope.editmax = false;
			$scope.statuses = ['heart','tint','fire'];

			$scope.adjust = function(amount) {
				if ($scope.editmax){
					$scope.editable.max = $scope.editable.max + amount * ($scope.add ? 1 : -1);
					$scope.editable.current = $scope.editable.current + amount * ($scope.add ? 1 : -1);					
				} else {
					$scope.editable.current = $scope.editable.current + amount * ($scope.add ? 1 : -1);	
					if ($scope.editable.current > $scope.editable.max) {
						$scope.editable.current = $scope.editable.max;
					}
				}

				localStorageService.set('monsters', $scope.monsters);
			};
			$scope.cycleStatus = function(){
				$scope.editable.status++;
				$scope.editable.status %= $scope.statuses.length;
				localStorageService.set('monsters', $scope.monsters);
			}
			$scope.removeMonster = function(){
				if ($scope.monsters.length == 1) {
					return;
				}

				$scope.monsters.pop();

				if ($scope.editableIndex >= $scope.monsters.length) {
					setEditable($scope.monsters.length-1);
				}

				localStorageService.set('monsters', $scope.monsters);

			};
			$scope.addMonster = function(){
				$scope.monsters.push({current:10, max:10, status:0})
				localStorageService.set('monsters', $scope.monsters);
			};
			$scope.setEditable = function(monsterIndex) {
				$scope.editableIndex = monsterIndex;
				$scope.editable = $scope.monsters[monsterIndex];
			}
		});
	</script>
	<style>
		.row-spaced {
			margin-top: 5px;
		}
		.well-bottomless {
			margin-bottom: 0px;
		}
		.btn {
			width:100%;
			padding: 10px 0px;
		}
		.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-12 {
			padding-right: 1px;
			padding-left: 1px;
		}

		.main {
			overflow-y: scroll;
		    position: absolute;
		    padding: 0px 5px;
		    top: 0px;
		    bottom: 146px;
		    width: 100%;
		}
		.footer {
			position: fixed;
			bottom: 0;
			padding: 0px 5px;
			width: 100%;
			height:146px;
			background: #ffffff;
		}
	</style>
</head>
<body ng-controller="MonsterBloodCtrl">
	<div id="scrollbox" class="main">
		<div class="container-fluid">
			<div class="row row-spaced">
				<div class="col-xs-4">
					<button class="btn btn-default" ng-click="removeMonster()" ng-disabled="monsters.length == 0">Fewer</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default" ng-click="addMonster()">More</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default" ng-click="showhelp = !showhelp">{{showhelp ? 'Hide Help' : 'Help'}}</button>
				</div>
			</div>
			<div class="row row-spaced" ng-show="showhelp">
				<div class="well well-bottomless">
					<strong>Help</strong>
					<ul>
						<li>More/Fewer - add remove rows (monsters)</li>
						<li>Max HP/Current HP - toggles which health value you are editing for the given monster. Red = current, Orange = max</li>
						<li>Clicking on the monster (red/orange button) - cycles through status icons</li> 
					</ul>
				</div>
			</div>
			<div class="row row-spaced" ng-repeat="monster in monsters">
				<div class="col-xs-12">
					<button class="btn" ng-class="editmax ? 'btn-warning' : 'btn-danger'" ng-disabled="$index === editableIndex" ng-click="setEditable($index)">
						{{$index+1}}
						<span class="glyphicon glyphicon-{{statuses[monster.status]}}"></span>
						{{monster.current}} / {{monster.max}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row row-spaced">
				<div class="col-xs-4">
					<button class="btn" ng-class="add ? 'btn-info' : 'btn-default'" ng-click="add = !add" >
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<div class="col-xs-4">
					<button class="btn" ng-class="add ? 'btn-default' : 'btn-info'" ng-click="add = !add" >
						<span class="glyphicon glyphicon-minus"></span>
					</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default" ng-click="editmax = !editmax">{{editmax ? 'Max HP' : 'Current HP'}}</button>
				</div>
			</div>

			<div class="row row-spaced">
				<div ng-repeat="i in [1,2,3,4,5,6]" class="col-xs-2">
					<button class="btn btn-default" ng-click="adjust(i)">{{add ? '+' : '-'}}{{i}}</button>
				</div>
			</div>
			<div class="row row-spaced">
				<div ng-repeat="i in [7,8,9,10,20]" class="col-xs-2">
					<button class="btn btn-default" ng-click="adjust(i)">{{add ? '+' : '-'}}{{i}}</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-default" ng-click="cycleStatus()">
						<span class="glyphicon glyphicon-flag"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('scrollbox').ontouchmove = function(e) {
		    e.stopPropagation();
		};
		if ('addEventListener' in document) {
		    document.addEventListener('DOMContentLoaded', function() {
		        FastClick.attach(document.body);
		    }, false);
		}
	</script>
</body>
</html>